@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Rajdhani&family=Zen+Dots&display=swap');
body{
    background-color:rgb(241, 241, 241);
}
#nav-bar{
    overflow: hidden;
    background-color: rgb(167, 127, 127);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header{
    margin-top: 67px;
    font-size: 20px;
    display: flex;
    font-family: 'Playfair Display', serif;
}

#container{
    max-width: 1000px;
    width: 100%;
    margin:  auto;
    margin-left: 475px;
    margin-right: 575px;
    padding: 5%;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color:antiquewhite;
    
}

@media screen and (max-width: 992px) {
    body {
      background-color: blue;
      color: white;
    }
  }
#products{
    margin-top: 200px;
    padding: 20px;
    display: inline-flexbox;
}

#email{
    max-width: 275px;
    width: 100%;
    padding: 5px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    margin-left: 205px;
    background-color: rgba(6, 199, 6, 0.534);
}
ol{
    font-family: 'Zen Dots', cursive;
    margin-bottom: -200px;
}

p{
    font-family: 'Zen Dots', cursive;
}
h3{font-family: 'Rajdhani', sans-serif;font-size: 35px; margin-left: -15px;}
h2{font-family: 'Rajdhani', sans-serif;font-size: 35px;}